.active-card {
  border: 3px solid #08cc7f;
  border-radius: 20px !important;
  cursor: pointer;
  position: relative;
}
.card {
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 10px !important;
  position: relative;
}

.edit {
  position: absolute;
  right: 3%;
  top: 4%;
  cursor: pointer;
}
